--- 
const { avatar, name, time } = Astro.props
---

<div class="flex gap-2 mt-5 text-gray-600 text-sm">
    <img class="w-6 h-6" src={avatar} alt="">
    <div>
        <p>{name}</p>
        <p>{time}</p>
    </div>

</div>