
---
import "../styles/global.css";
import Link from "../components/link.astro"
import Header from  "../components/header.astro"
import Welcome from '../components/Welcome.astro'; 

const {
  title = "Astro js ",
  description = "Astro js home page."
} = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
	</head>
	<body>
		<Welcome />
		<Header />
		<main><slot /></main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
